doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Library
    link(rel='stylesheet' href='../style.css')
    link(rel='stylesheet' href='../book-style.css')
header.header
    nav.nav
        a.nav__link(href='/') Library
        .nav__auth
            a.nav__link(href='/user/logout') Logout

main.container
    .book-card__body
        form#addForm.book-card__info.book-card__info--left(method='post' action=`/book/${book.id}`)
            label.book-card__info-part
                | Title: &nbsp;
                input.book-card__add-input(name='name' type='text' value=`${book.name}`)
            label.book-card__info-part
                | Author: &nbsp;
                input.book-card__add-input(name='author' type='text' value=`${book.author}`)
            label.book-card__info-part
                | Release Date: &nbsp;
                input.book-card__add-input(name='releaseDate' type='date' value=book.releaseDate)
        if book.details.takenBy == user.email
            p.book-card__info.book-card__info--right
                span.book-card__info-part This book is taken by you
                span.book-card__info-part Expired Date: #{book.details.expiredDate}
                button.book-card__info-part.book-card__button.book-card__handover-button
                    | Hand Over
        else
            p.book-card__info.book-card__info--right
                if book.details.inStock
                    span.book-card__info-part In Stock
                    button.book-card__info-part.book-card__button.book-card__take-button
                        | Take
                else
                    span.book-card__info-part Not in Stock
                    span.book-card__info-part Expired Date: #{book.details.expiredDate}
                    span.book-card__info-part
                        | Taken by:
                        button.book-card__user-info-button #{book.details.takenBy}
        input.book-card__button.book-card__button--add(type='submit' form='addForm' value="Save")

script(src="../js/book-card.js")
